html,
body,
#root {
  height: 100%; /* full page height */
  margin: 0;
  display: flex; /* stack root directly inside body */
  flex-direction: column;
}

#root {
  flex: 1; /* let it grow to fill body */
  display: flex; /* make root itself flex */
  flex-direction: column;
}

.flex-container {
  flex: 1; /* take available space inside root */
  display: flex; /* your layout */
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.flex-container > * {
  padding: 10px;
}

.navigation {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.table {
  align-self: start;
}

.button-holder {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: #fff;
}

footer {
  text-align: center;
}

.finance-tables {
  display: flex;
  gap: 2rem; /* space between table and divider */
  align-items: stretch; /* might need to change */
  justify-content: space-evenly;
  justify-content: center;
}

.finance-wrapper {
  flex: 1; /* each takes half the width */
  flex-wrap: wrap;
}

.divider {
  width: 5px; /* fat vertical line */
  background-color: #000000; /* dark grey or black */
  border-radius: 2px; /* makes it look smoother */
}

.amount-expense {
  color: red;
}

.amount-revenue {
  color: green;
}
